[submodule "cocoapi"]
	path = cocoapi
	url = https://github.com/cocodataset/cocoapi
[submodule "Deep-Learning"]
	path = Deep-Learning
	url = https://github.com/priya-dwivedi/Deep-Learning.git
[submodule "models"]
	path = models
	url = https://github.com/tensorflow/models.git
