{% extends "layout.html" %}

{% block body %}

<div class="col-sm-12">
  <h4>Verwendete Frameworks und Tools</h4>

  <p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="https://www.tensorflow.org/">Tensorflow</a>
        <br>
        <small>Ein von Google zur Verfügung gestelltes Framework zum Machine Learning.</small>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/tensorflow/models/tree/master/research/object_detection">Tensorflow Object Detection API</a>
        <br>
        <small>API zur Objekterkennung</small>
      </li>

      <li class="list-group-item">
        <a href="https://github.com/cocodataset/cocoapi">Coco Dataset</a>
        <br>
        <small>Eine öffentlich verfügbare Datenbank mit Trainings-Daten für den ML-Algorithmus.</small>
      </li>
      <li class="list-group-item">
        <a href="http://flask.pocoo.org/">Flask</a>
        <br>
        <small>Microframework zur Entwicklung von Webservern, geschrieben in Python</small>
      </li>
      <li class="list-group-item">
        <a href="http://jinja.pocoo.org/docs/2.10/">Jinja2</a>
        <br>
        <small>Templating mit Python-Perks</small>
      </li>
      <li class="list-group-item">
        <a href="https://getbootstrap.com/">Bootstrap 4</a>
        <br>
        <small>Framework zur Entwicklung von User Interfaces</small>
      </li>

    </ul>
  </p>

</div>

<div class="col-sm-12">
  <h4>Ressourcen zum Ausprobieren und Weitermachen</h4>

  <p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <a href="https://www.tensorflow.org/get_started/eager">Tensorflow installieren</a></li>
      <li class="list-group-item"><a href="https://github.com/ypislon/tensorflow_tutorium">Dieses Projekt auf Github anschauen und weiterbasteln</a></li>
      <li class="list-group-item">
        <a href="https://github.com/priya-dwivedi/Deep-Learning">Demo Projekt zu Deep Learning</a>
        <br>
        <small>Einige interessante Applikationen zum Thema Deep Learning.</small>
      </li>
    </ul>
  </p>
</div>

<div class="col-sm-12">
  <h4>Ressourcen zum Weiterlesen</h4>

  <p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="https://blog.griddynamics.com/fix-e-commerce-attribution-with-tensorflow-and-image-recognition/">
          Detecting and correcting e-commerce catalog misattribution with image and text classification using Google TensorFlow
        </a>
        <br>
        <small>Artikel zur Anwendung von Tensorflow im E-Buiness</small>
      </li>
      <li class="list-group-item">
        <a href="https://www.programmableweb.com/news/how-businesses-use-image-recognition-to-understand-digital-data/sponsored-content/2014/05/21">
          How Businesses use Image Recognition to Understand Digital Data
        </a>
        <br>
        <small>Interessanter Artikel, der mögliche Anwendungen von Objekterkennung im E-Business aufzeigt.</small>
      </li>
      <li class="list-group-item">
        <a href="https://techblog.commercetools.com/top-5-machine-learning-applications-for-e-commerce-268eb1c89607">
          Top 5 Machine Learning Applications for E-Commerce
        </a>
        <br>
        <small>In diesem Artikel werden fünf Bereiche aufgezeigt, in denen Machine Learning E-Commerce unterstützen kann.</small>
      </li>
    </ul>
  </p>
</div>

<div class="col-sm-12">
  <h4>Credits</h4>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Illustrationen von <a href="https://www.freepik.com/free-vector/hand-drawn-robots-collection_1601414.htm">Freepik</a>
    </li>
  </ul>

</div>

{% endblock %}
