{% extends "layout.html" %}

{% block body %}

<div class="row">

  <div class="col-sm-12 col-md-6">
    <img src="{{ url_for('static', filename=('uploads/rendered/' + filename)) }}" alt="" id="imageresource">
    <p class="font-weight-light"><small>Zum Vergrößern auf Bild klicken.</small></p>

  </div>

  <div class="col-sm-12 col-md-4">
    {% if detected_objects|length == 0 %}
      <p><kbd class="robot-text">Ich konnte nichts erkennen. Aber versuchs doch einach <a href="{{url_for('index')}}#upload_form">noch einmal</a> mit einem anderen Bild!</kbd></p>
    {% endif %}

    {% if detected_objects|length == 1 %}
      {% for score, object in detected_objects %}
        <p><kbd class="robot-text">Ich habe eine Sache auf dem Bild erkannt!</kbd></p>

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{object|capitalize}}
            <span class="badge badge-secondary badge-pill">{{ (score*100)|round(1) }}%</span>
          </li>
        </ul>

      {% endfor %}
    {% endif %}

    {% if detected_objects|length > 1 %}

      {% for score, object in detected_objects %}
        {% if(loop.index == 1) %}
          <p><kbd class="robot-text">Ich habe {{detected_objects|length}} Dinge auf dem Bild erkannt!</p></kbd>

          <ul class="list-group">
        {% endif %}

        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{object|capitalize}}
          <span class="badge badge-secondary badge-pill">{{ (score*100)|round(1) }}%</span>
        </li>

        {% if(loop.index == detected_objects|length) %}
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="col-sm-12 col-md-2 align-self-end justify-content-end">
    {% if detected_objects|length == 0 %}
      <div class="robot">
          <img src="{{ url_for('static', filename='assets/images/robot-broken.png') }}" alt="">
      </div>
    {% endif %}

    {% if detected_objects|length == 1 %}
      <div class="robot">
          <img src="{{ url_for('static', filename='assets/images/robot-thumbs-up.png') }}" alt="" class="">
      </div>
    {% endif %}

    {% if detected_objects|length > 1 %}
      <div class="robot">
          <img src="{{ url_for('static', filename='assets/images/robot-happy.png') }}" alt="" class="">
      </div>
    {% endif %}
  </div>

</div>


{% endblock %}
